html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote,
a, article, figure, footer, header, menu, nav {
	margin: 0;
	padding: 0;
}

ul {
  display: flex;
  padding-left: 20px;
  list-style: none;
  justify-content: space-between;
}

nav {
  width: 80%;
}

.button {
  border: solid 1px darkblue;
  background-color: lightblue;
  height: 40px;
  width: 140px;
  margin-left: 50px;
  margin-top: 40px;
}

header a {
  padding: 35px;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
}

a:hover {
  color: tomato;
}

.active {
  color: yellow;
}

header {
  margin-top: 50px;
}
